<div class="experience-list">
  {% for item in include.content %}
  <div class="experience-item">
    <div class="experience-item__meta">
      <span class="experience-item__dates">{{ item.dates }}</span>
    </div>
    <div class="experience-item__content">
      <p class="experience-item__role">{{ item.role }}</p>
      <p class="experience-item__org">{{ item.organization }}</p>
      {% if item.description %}
        <p class="experience-item__description">{{ item.description }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
